html, body{
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  color: #000;
  overflow: hidden;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-12{
  padding: 0;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app section {
  display: none;
  height: 100%;
  overflow: hidden;
}

.content {
  display: table;
  width: 90%;
  height: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 2em 0;
}

.content > div {
  /* vertically align <div> inside <section> */
  display: table-cell;
  vertical-align: middle;
} 


/* WEATHER  */

#today .weather-icon {
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
  width: 500px;
  margin: auto;
}

.city{
  text-align: right;
  font-size: 2em;
  font-weight: 600;
  position: relative;
}

.temp{
  text-align: right;
  font-size: 2.5em;
  font-weight: 600;
  position: relative;
  letter-spacing: -2px;
}

.testo{
  padding-top: 100px;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1em;
}

.mbare{
  color: #ce1313;
}

.weather-1 .weather-icon{
  background-image: url("../img/avatar/1.gif")
}

.weather-2 .weather-icon{
  background-image: url("../img/avatar/2.gif")
}

.weather-3 .weather-icon{
  background-image: url("../img/avatar/3.gif")
}

.weather-4 .weather-icon{
  background-image: url("../img/avatar/4.gif")
}

.weather-5 .weather-icon{
  background-image: url("../img/avatar/5.gif")
}

.weather-6 .weather-icon{
  background-image: url("../img/avatar/6.gif")
}

.weather-7 .weather-icon{
  background-image: url("../img/avatar/7.gif")
}

.weather-8 .weather-icon{
  background-image: url("../img/avatar/8.gif")
}

.weather-9 .weather-icon{
  background-image: url("../img/avatar/9.gif")
}

.weather-10 .weather-icon{
  background-image: url("../img/avatar/10.gif")
}

.weather-11 .weather-icon{
  background-image: url("../img/avatar/11.gif")
}

/* INFO SECTION  */

section#loading{
  text-align: center;
}

#loading-message{
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
}

@import 'variables';